body {
	background-color: darkorange;
	padding: 15px;
}

h1 {
	text-align: center;
	padding: 2%;
	font-family: impact, sans-serif;
	font-size: 3.5em;
}

input {
	padding: 1%;
	margin: 1%;
	background-color: #FFF;
}